// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


//$nav-link-color: white;
$nav-link-hover-color: white ;
//$theme-colors:(
//);
$ny-red: #c60800;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
    (responsive: true),
    ),
  )
);

@import "../../node_modules/bootstrap/scss/utilities/api";

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.mx-6{
  margin-left: $spacer * 6 !important;
  margin-right: $spacer * 6 !important;
}

.mx-7{
  margin-left: $spacer * 12 !important;
  margin-right: $spacer * 12 !important;
}
.mx-lg-7{
    @include media-breakpoint-up(lg) {
        margin-left: $spacer * 12 !important;
        margin-right: $spacer * 12 !important;
    }
}
.mx-xxl-7{
  @include media-breakpoint-up(xxl){
    margin-left: $spacer * 12 !important;
    margin-right: $spacer * 12 !important;
  }
}
.ms-xl-7{
  @include media-breakpoint-up(xl){
    margin-left: $spacer * 12 !important;
  }
}
.ms-xl-6{
  @include media-breakpoint-up(xl){
    margin-left: $spacer * 6 !important;
  }
}
.ms-6{
  margin-left: $spacer *6 !important;
}
.ms-7{
  margin-left: $spacer * 12 !important;
}

.ms-lg-6{
    @include media-breakpoint-up(lg) {
      margin-left: $spacer * 6 !important;
  }
}
.me-lg-6{
  @include media-breakpoint-up(lg) {
    margin-right: $spacer * 6 !important;
  }
}

.btn-ny-red{
  @include button-variant($ny-red, $ny-red);
}
