.top-header {
    background-color: #c60800;
    height: 86px;
    /*display: flex;*/
    /*justify-content: space-between*/
}

.bottom-header {
    height: 35px;
    /*height: 50px;*/
    /*background-color: black*/
}

.bottom-header a {
    color: white;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-weight: 700;
}
.bottom-header ul{
    height: 100%;
}

.nav-link{
    padding: 0;
}
.surrounding-border{
    border-right: solid white;
    padding-right: 1rem;
}
.bi-search {
    color: white;
    width: 2em;
    height: 2em
}
.bi-envelope-fill {
    color: white;
    width: 2em;
    height: 2em
}
/*ridimensiona le icone*/
i {
    font-size: 1.5rem;
}
#site-title {
    align-self: center;
    font-family: Anton;
    font-size: 3em;
    color: white;
    font-style: italic;
    text-shadow: -1px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black, 0 0 5px black
}

#section {
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: 700
}

#header-left {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*padding-left: 15px*/
}